.screen-img--jobdescription {
background-image: url("../img/jobdescription.jpg") !important;
}

.job-window{
    z-index: 3;
    height: 75%;
    width: 60%;
    display: flex;
    position: absolute;
    align-self: center;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.4);
    border-radius: 2px;
    flex-direction: column;
}

.form--jobdescription {
    height: 100% !important;
    width: 75% !important;
}

.form__screen-title--description{
 color:  rgba(237,0,140,1);
    font-size: 35px !important;
}

.viewjob--info{
    box-sizing: border-box;
    width: 90%;
    align-self: center;
    line-height: 180%;
    background: rgba(0,0,0,0);
    font-size: 14px;
    font-family: "Palatino", sans-serif;
    color: black;
    margin-top: 1px;
    font-weight: lighter;
}

.viewjob--info-des{
    height: 120px;
    background: rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-top: 5px;
    overflow-y: scroll;
}

.input__line--description{
    margin-bottom: 20px;
}

.form__screen--description{
    height: 450px !important;
    width: 670px !important;
}

.bottom-job-window{
    z-index: 3;
    display: flex;
    align-self: flex-end;
}

.accept-job-button-description{
    height: 32px;
    width: 120px;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #feff00;
    color: black;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.5);
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.1);
    align-self: center;
    margin-top: 10px;
}

.img__contract{
    width:85%;
    max-width:300px;
    height:100%;
    max-height:260px;
    z-index:3;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

.img__contract:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.editjob__buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.form__access-button--cancel{
    text-align: center;
    line-height: 200%;
}