.screen-img--user{
background-image: url("../img/user.jpg") !important;
}

.main--profile{
    transform: translateX(0%);
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}

.main--menuvisible{
    transform: translateX(200px);
}

.menu{
    height: 100%;
    width: 200px;
    position: absolute;
    background-color: white;
    z-index: 3;
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo--menu{
    margin-top: 20px;
}

.menu__line{
    height: 1px;
    width: 100%;
    background-color: #a4a4a4;
    align-self: center;
}

.menu__links{
    height: 50%;
    width: 80%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.menu__link-item{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__text{
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    color: black;
    font-weight: 500;
    text-align: center;
}

.menu--visible{
    transform: translateX(0%);
}

.name--user{
    height: 85px;
    width: 85px;
    background-color: rgba(0,0,0,0.9);
    z-index: 3;
    margin-top: 20px;
    border: solid rgba(0,0,0,0.9) 2px;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition-property: background-color,color,border-color;
    transition-duration: 0.1s,0.1s;
    transition-timing-function: ease-in-out;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.5);
    position: absolute;
}

.button_menu{
    position: absolute;
    height: 30px;
    width: 45px;
    left: 0px;
    margin-left: 30px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    z-index: 3;
}

.button_menu-item1--view{
    transform: translateY(10px) rotateZ(45grad) !important;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0)!important;
}

.button_menu-item2--view{
    visibility: hidden!important;
}

.button_menu-item3--view{
    transform: translateY(-10px) rotateZ(-45grad)!important;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0)!important;
}

.button_menu-item {
    height: 3px;
    width: 75%;
    background-color: rgba(237, 1, 140, 1);
    border-radius: 2px;
    transform: translateY(0px) rotateZ(0grad);
    transition-property: transform,visibility;
    transition-timing-function: ease-in-out;
    transition-duration: 120ms,0s;
    transition-delay: 300ms,300ms;
    /*box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);*/
}



.userdata{
    height: 100px;
    width: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}

.userdata__name{
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    height: fit-content;
    color: white;
    line-height: 100px;
    margin-left: 20px;
    font-weight: lighter;
    transform: translateZ(0);
}

.userdata__link{
    height: 80px;
    width: fit-content;
    margin-top: 10px;
}

.userdata__img{
    height: 80px;
    width: 80px;
    border-radius: 80px;

}

.userdata__jobsoffers{
    height: 32px;
    width: 120px;
    font-size: 18px;
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    background-color: #feff00;
    color: black;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.5);
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 34px;
    left: 180px;
    transform: scale(1.2);
}

.useractions__notifications{
    height: 50%;
    width: 100%;
    background-color: rgba(255,255,255,0.7);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-top: 80px;
    left: 20px;
    margin-left: 15px;
}

.title-notification{
    font-family: "Palatino", sans-serif;
    font-size: 15px;
    margin-top: 10px;
    color: rgba(0,0,0,0.9);
    line-height: 200%;
    margin-left: 30px;
    width: 100%;
    font-weight: lighter;
}

.hr-notification{
    height: 1px;
    width: 90%;
    background-color: rgba(0,0,0,0.5);
}


