@import url(css/signuptype.css);
@import url(css/login.css);
@import url(css/404.css);
@import url(css/signup.css);
@import url(css/userpage.css);
@import url(css/userprofile.css);
@import url(css/companypage.css);
@import url(css/main.css);
@import url(css/jobdescription.css);
@import url(css/indexpage.css);
@import url(css/arrows.css);
@import url(css/animations.css);
@import url(css/share.css);
@import url(css/newjob.css);
@import url(css/editprofile.css);

* {
    margin: 0;
    padding: 0;
    border: 0px;
}



