@import url(css/signuptype.css);
@import url(css/login.css);
@import url(css/404.css);
@import url(css/signup.css);
@import url(css/userpage.css);
@import url(css/userprofile.css);
@import url(css/companypage.css);
@import url(css/main.css);

* {
    margin: 0;
    padding: 0;
    border: 0px;
}



