.form__screen--signupPerson{
    width: 650px !important;
    height: 560px !important;
}

.form__header{
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.form__header-item{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form__header-item--right{
    align-items: flex-end;
    width: 70%;
    padding-right: 40px;
}

.name--signup{
    margin-top: 0px !important;
}

.form__screen-title--signup{
 margin-top: 0px !important;
}

.form__content{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.form__inputs{
    height: 100%;
    width: 65%;
    display: flex;
    align-items: center;
}
.form__img-content{
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__img{
    height: 180px;
    width: 180px;
}

.form--signin{
    height: 100% !important;
}

.form__input-title{
    line-height: 170%;
}

.form__input--signin{
    line-height: 170%;
}

.form__access-button--signin{
    align-self: center;
    margin-top: 20px;
}

.screen-info-target--signup{
    margin-top: 10px !important;
}