{% extends 'layout.html' %}

{% block content %}

    <div class="main">
        <div class="screen-img screen-img--company"></div>
        <!--<a class="name--user link-nodecoration" href="/user">
            <h2 class="name__text">JON</h2>
        </a>-->

        <div class="button_menu">
            <div class="button_menu-item button_menu-item1"></div>
            <div class="button_menu-item button_menu-item2"></div>
            <div class="button_menu-item button_menu-item3"></div>
        </div>

        <div class="userdata">
            <a class="userdata__link">
                <img  class="userdata__img" src="{{ url_for('static', filename='img/companyimg.jpg') }}" alt="">
            </a>
            <h2 class="userdata__name">Company</h2>

        </div>

        <div class="useractions">
            <div class="new_shift">

            </div>

            <div class="jobs-table">
                {% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
                    <div class="jobs-table-column">
                        <h2>{{ day }} </h2>
                        {% for job in jobs %}
                            {% if job.dayOfWeek == day %}
                                <div class="jobs-table-cell">
                                    <p>{{ job.name }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                {% endfor %}

            </div>

        </div>




    </div>

{% endblock %}