{% extends 'layout.html' %}

{% block content %}

    <div class="menu">
        <a class="logo logo--menu link-nodecoration">
            <h2 class="logo__text">JON</h2>
        </a>
        <div class="menu__links">
            <a class="menu__link-item link-nodecoration" href="/editprofile">
                <h2 class="item__text">Edit Profile</h2>
            </a>
            <hr class="menu__line">

            <a class="menu__link-item link-nodecoration" href="/help">
                <h2 class="item__text">Help</h2>
            </a>
            <hr class="menu__line">
            <a class="menu__link-item link-nodecoration" href="/contact">
                <h2 class="item__text">Contact Us</h2>
            </a>
            <hr class="menu__line">
            <a class="menu__link-item link-nodecoration" href="/logout">
                <h2 class="item__text">Logout</h2>
            </a>
            <hr class="menu__line">
        </div>

    </div>

    <div class="main main--profile">
        <div class="screen-img screen-img--company"></div>
        <!--<a class="name--user link-nodecoration" href="/user">
            <h2 class="name__text">JON</h2>
        </a>-->

        <div class="button_menu">
            <div class="button_menu-item button_menu-item1"></div>
            <div class="button_menu-item button_menu-item2"></div>
            <div class="button_menu-item button_menu-item3"></div>
        </div>

        <div class="userdata">
            <a class="userdata__link">
                <img  class="userdata__img" src="{{ url_for('static', filename='img/companyimg.jpg') }}" alt="">
            </a>
            <h2 class="userdata__name">Company</h2>

        </div>



        <div class="companyinfo">

            <div class="jobs-table jobs-table--profile jobs-table--company">
                <div class="jobs-table-row">
                    <div class="jobs-table-cell-title">
                        <h2 class="jobs-table__titleday" style="visibility: hidden">Time_slot </h2>
                    </div>
                    {% for day in  ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
                        <div class="jobs-table-cell-title">
                            <h2 class="jobs-table__titleday">{{ day }} </h2>
                        </div>
                    {% endfor %}
                </div>

                {% for a in range(0,24) %}
                    <div class="jobs-table-row">
                        <div class="jobs-table-day">
                            <h2 class="jobs-times">{{ a }}.00 - {% set a = a + 1 %}{{ a }}.00{% set a = a-1 %}</h2>
                        </div>


                        {% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
                            <div class="jobs-table-day">
                                {% for job in jobs[a] %}
                                    {% if job.dayOfWeek == day %}
                                        <div class="jobs-table-cell">
                                            <h2 class="jobs-table__titlejob tooltip" id="{{ job.id }}">{{ job.name }}
                                                <span class="tooltiptext">
                                                    <p class="job-description">{{ job.description }}</p>
                                                    <a  class="showmore link-nodecoration" href="job/{{ job.id }}">Show more...</a>
                                                    <button class="accept-job-button" onclick="editjob({{ job.id }})">Edit</button>
                                                    <div class="hover__permanent"></div>
                                                </span>
                                            </h2>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}

            </div>


            <div class="companyinfo__button" >
            <a class="newjob-button link-nodecoration " href="/newjob">New Job</a>
        </div>
        </div>
    </div>

    <script>
        function editjob(jobid) {
            window.open("/editjob/"+jobid,"_self")
        }
    </script>


{% endblock %}