{% extends 'layout.html' %}

{% block content %}

    <div class="header-index">
        <div class="header__network"></div>
        <div class="header__facts">

            <a class="logo logo--index link-nodecoration slide-in-bck-center" href="/">
                <h2 class="logo__text">JON</h2>
            </a>

            <h2 class="namecompany tracking-in-expand"><span class="spanname">J</span>ob <span class="spanname">O</span>pportunity <span class="spanname">N</span>etwork</h2>
            <a class="header__login link-nodecoration" href="/login">
                {% if current_user.is_authenticated %}
                    <h2 class="login__text ">My Account</h2>
                {% else %}
                    <h2 class="login__text ">Login</h2>
                {% endif %}
            </a>

            <a class="header__help link-nodecoration" href="/help">
                <img class="header__help-img"  src="{{ url_for('static', filename='img/help.png') }}">
            </a>

            <a class="header__contact link-nodecoration" href="/contact">
                <img class="header__contact-img"  src="{{ url_for('static', filename='img/contact.png') }}">
            </a>

        </div>
    </div>

    <div class="nav-index">

        <div class="nav--home navitem"> <!--+++++++++++-->
            <div class="screen-img screen-img--contact"></div>

            <div class="form__screen form__screen--contact">
                <h2 class="form__screen-title"> CONTACT US </h2></br>
                <div class="contact_to">
                    <h2 class="form__screen-title--sub contact_to-text">To:</h2>
                    <h2 class="form__screen-title--sub contact_email"> jonpolito2018@gmail.com </h2></br>
                </div>

                <form  class="form form--contact" action="/send_email" method="POST">
                    <textarea class="contact_msg" type="text" name="message" rows="10"></textarea>
                    <button class="form__access-button form__access-button--contact" type="submit">Send</button>
                </form>
            </div>

        </div>


    </div>

    <div class="footer-index">

        <div class="share">
            <img class="share-img scale-in-center" src="{{ url_for('static', filename='img/add.png') }}">
        </div>
        <a class="one" href="https://www.facebook.com/politecnicotorino/" target="_blank">
            <img class="share-img" src="{{ url_for('static', filename='img/facebook.png') }}">
        </a>
        <a class="two" href="https://twitter.com/politonews" target="_blank">
            <img class="share-img" src="{{ url_for('static', filename='img/twitter.png') }}">
        </a>
        <a class="three" href="https://www.instagram.com/politecnicoditorino" target="_blank">
            <img class="share-img" src="{{ url_for('static', filename='img/instagram.png') }}">
        </a>

    </div>


{% endblock %}


