{% extends 'layout.html' %}

{% block content %}

    <div class="header-index">
        <div class="header__network"></div>
        <div class="header__facts">

            <a class="logo logo--index link-nodecoration slide-in-bck-center" href="/">
                <h2 class="logo__text">JON</h2>
            </a>

            <h2 class="namecompany tracking-in-expand"><span class="spanname">J</span>ob <span class="spanname">O</span>pportunity <span class="spanname">N</span>etwork</h2>
            <a class="header__login link-nodecoration" href="/login">
                <h2 class="login__text ">Login</h2>
            </a>

            <a class="header__faq link-nodecoration" href="/help">
                <img class="header__faq-img"  src="{{ url_for('static', filename='img/question.png') }}">
            </a>
        </div>
    </div>

    <div>
        <h2> CONTACT US </h2></br>
        <h1> jonpolito2018@gmail.com </h1></br>
    </div>


    <div class="footer-index">

        <div class="share">
            <img class="share-img scale-in-center" src="{{ url_for('static', filename='img/add.png') }}">
        </div>
        <a class="one" href="https://www.facebook.com/politecnicotorino/" target="_blank">
            <img class="share-img" src="{{ url_for('static', filename='img/facebook.png') }}">
        </a>
        <a class="two" href="https://twitter.com/politonews" target="_blank">
            <img class="share-img" src="{{ url_for('static', filename='img/twitter.png') }}">
        </a>
        <a class="three" href="https://www.instagram.com/politecnicoditorino" target="_blank">
            <img class="share-img" src="{{ url_for('static', filename='img/instagram.png') }}">
        </a>

    </div>


{% endblock %}