{% extends 'layout.html' %}

{% block content %}
    <div class="main">

        <div class="screen-img screen-img--index screen-img--mask2">
        </div>

        <header class="header">
            <a class="header__link" href="https://www.facebook.com/politecnicotorino/" target="_blank">
            <img class="header__img img--facebook" src="{{ url_for('static', filename='img/facebook.png') }}" alt="">
            </a>
            <a class="header__link" href="https://www.instagram.com/politecnicoditorino" target="_blank">
            <img class="header__img img--instagram" src="{{ url_for('static', filename='img/instagram.png') }}" alt="">
            </a>
            <a class="header__link" href="https://twitter.com/politonews" target="_blank">
            <img class="header__img img--twitter" src="{{ url_for('static', filename='img/twitter.png') }}" alt="">
            </a>
            <a class="header__link img--user" href="/login">
                <img  class="header__img" src="{{ url_for('static', filename='img/user.png') }}" alt="">
            </a>
        </header>


        <a class="name link-nodecoration" href="/">
            <h2 class="name__text">JON</h2>
        </a>




        <!--<hr class="header__line header__line-left">
        <hr class="header__line header__line-right">-->
        <nav class="navinfo">
                <div class="navinfo__item navinfo__item-one">
                        <!--<img class="navinfo__img" src="img/navinfo5.jpg" alt="">-->
                        <img class="navinfo__img" src="{{ url_for('static', filename='img/navinfo5.jpg') }}" alt="">
                        <div class="navinfo__mask"></div>
                        <h3 class="navinfo__text">Smooth way to find a Job</h3>
                        <h3 class="navinfo__text-down">Thinking</h3>
                </div>

                <div class="navinfo__item">
                    <!--<img class="navinfo__img" src="imgs/navinfo2.jpeg" alt="">-->
                    <img class="navinfo__img" src="{{ url_for('static', filename='img/navinfo2.jpeg') }}" alt="">
                    <div class="navinfo__mask"></div>
                    <h3 class="navinfo__text">Smooth way to find a Job</h3>
                    <h3 class="navinfo__text-down">Opportunity</h3>
                </div>

                <div class="navinfo__item">
                    <!--<img class="navinfo__img" src="imgs/navinfo3.jpeg" alt="">-->
                    <img class="navinfo__img" src="{{ url_for('static', filename='img/navinfo3.jpeg') }}" alt="">
                    <div class="navinfo__mask"></div>
                    <h3 class="navinfo__text">Smooth way to find a Job</h3>
                    <h3 class="navinfo__text-down">Preparation</h3>
                </div>


        </nav>

            <div class="navpages">
            <div class="navpages__item navpages__item--selected"></div>
            <div class="navpages__item"></div>
            <div class="navpages__item"></div>
            <hr class="navpages__hr">
        </div>

    </div>


    <div class="main2">


        <div class="screen-img screen-img--mask"></div>

        <div class="name">
            <h2 class="name__text">JON</h2>
        </div>

        <div class="screen-name">
            <h2>┼───┘ People.</h2>
        </div>


        <a class="screen-info link-nodecoration" href="/signupPerson">
            <h2 class="screen-info-target">For people</h2>
            <h2 class="screen-info-text">Motivation is what gets you started. Habit is what keeps you going.</h2>
            <img class="screen-info-arrow" src="{{ url_for('static', filename='img/next.png') }}">
            <img class="screen-info-arrow screen-info-arrow--static" src="{{ url_for('static', filename='img/next.png') }}">
        </a>

        <div class="navpages">
            <div class="navpages__item"></div>
            <div class="navpages__item navpages__item--selected"></div>
            <div class="navpages__item"></div>
            <hr class="navpages__hr">
        </div>

    </div>

    <div class="main2">


        <div class="screen-img screen-img--companies screen-img--mask"></div>

        <div class="name">
            <h2 class="name__text">JON</h2>
        </div>

        <div class="screen-name">
            <h2>┼───┘ Companies.</h2>
        </div>


        <a class="screen-info link-nodecoration" href="/signupCompany">
            <h2 class="screen-info-target">For companies</h2>
            <h2 class="screen-info-text">The best preparation for tomorrow is to do today’s work superbly well.</h2>
            <img class="screen-info-arrow" src="{{ url_for('static', filename='img/next.png') }}">
            <img class="screen-info-arrow screen-info-arrow--static" src="{{ url_for('static', filename='img/next.png') }}">
        </a>

        <div class="navpages">
            <div class="navpages__item"></div>
            <div class="navpages__item"></div>
            <div class="navpages__item navpages__item--selected"></div>
            <hr class="navpages__hr">
        </div>

    </div>

    <footer class="footer">
        <h2 class="footer__text">Politecnico di Torino - Information Systems</h2>
    </footer>

{% endblock %}