{% extends 'layout.html' %}

{% block content %}
    <div class="main">
        <div class="screen-img screen-img--jobdescription"></div>
        {% if company %}
            <a class="name--home link-nodecoration" href="/companypage">
        {% else %}
            <a class="name--home link-nodecoration" href="/userpage">
        {% endif %}
            <h2 class="name__text">JON</h2>
        </a>



    <!-- -->

        <div class="form__screen form__screen--description">

            <h2 class="form__screen-title form__screen-title--description">{{ job.name }}</h2>

            <div class="form__content">

                <div class="form form--jobdescription">

                    <h2 class="form__input-title">Salary</h2>
                    <h2 class="viewjob--info">{{ job.wage }}</h2>
                    <hr class="input__line input__line--description">

                    <h2 class="form__input-title">Places</h2>
                    <h2 class="viewjob--info">{{ job.places }}</h2>
                    <hr class="input__line input__line--description">

                    <h2 class="form__input-title">Description</h2>
                    <h2 class="viewjob--info viewjob--info-des">{{ job.description }}</h2>
                    <hr class="input__line input__line--description">




                {% if company %}
                    <div>
                        <button class="accept-job-button-description" onclick="editjob({{ job.id }})">Edit!</button>
                    </div>
                    {% if rating %}
                        <div>
                            {% for worker in workers %}
                                <form name="rate" onsubmit="validateForm({{ job.id }})" >
                                    {{ worker.name }} <input type="number" name="rate">
                                    <input type="hidden" name="person_id" value="{{ worker.id }}">
                                    <button onclick="validateForm({{ job.id }})" value="Rate">Rate</button>
                                </form>

                            {%  endfor %}

                        </div>

                    {% else %}
                        <div>CAN NOT RATE</div>
                    {% endif %}

                {% else %}
                    {% if rating %}

                    {% elif bookable %}
                        <button class="accept-job-button-description" onclick="bookJob({{ job.id }})">Accept!</button>
                    {% else %}
                        <button class="accept-job-button-description" onclick="unbookjob({{ job.id }})">Unbook!</button>
                    {% endif %}
                {% endif %}


            </div>
            <div class="form__img-content">
                <!-- Trigger the Modal -->

                {% if not bookable and not company %}
                    <img id="myImg" src="../myfile.jpg" alt="Job Contract" style="width:85%;max-width:300px; height:100%; max-height:260px;z-index:3">
                {% else %}
                    <img id="myImg" src="/static/company/contracts/{{ job.contract }}" alt="Job Contract" style="width:85%;max-width:300px; height:100%; max-height:260px;z-index:3">
                {% endif %}

                <!-- The Modal -->
                <div id="myModal" class="modal">

                    <!-- The Close Button -->
                    <span class="close">&times;</span>

                    <!-- Modal Content (The Image) -->
                    <img class="modal-content" id="img01">

                    <!-- Modal Caption (Image Text) -->
                    <div id="caption"></div>
                </div>
            </div>
        </div>


        <script>

            function validateForm(jobid) {

                person = x['person_id'];
                rate = x['rate'];
                $.ajax({
                  type : 'POST',
                  url : "{{url_for('rateworker', jobid=jobid) }}",
                  contentType: 'application/json;charset=UTF-8',
                  data : {'person': person,
                        'rate': rate}
                });

            };

            function bookJob(jobid) {

                $.post( '/job/'+jobid, function( data ) {
                    alert('Job booked!');
                });
                window.open("{{ url_for('userpage') }}","_self")
            }
            function unbookjob(jobid) {
                $.ajax({
                    url: '/bookjob/'+jobid,
                    type: 'DELETE',
                    success: function(result) {
                        alert('Job unbooked!');
                    }
                });
                window.open("{{ url_for('userprofile') }}","_self")
            }
            function editjob(jobid) {
                window.open("/editjob/"+jobid,"_self")
            }

            // Get the modal
            var modal = document.getElementById('myModal');

            // Get the image and insert it inside the modal - use its "alt" text as a caption
            var img = document.getElementById('myImg');
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            img.onclick = function(){
              modal.style.display = "block";
              modalImg.src = this.src;
              captionText.innerHTML = this.alt;
            }

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
              modal.style.display = "none";
            };

        </script>

    </div>
{% endblock %}