{% extends 'layout.html' %}

{% block content %}
    <div class="main">
        <div class="screen-img screen-img--jobdescription"></div>
        <a class="name--home link-nodecoration" href="/userpage">
            <h2 class="name__text">JON</h2>
        </a>



    <!-- -->

        <div class="form__screen form__screen--description">

            <h2 class="form__screen-title form__screen-title--description">{{ job.name }}</h2>

            <div class="form__content">

                <div class="form form--jobdescription">

                    <h2 class="form__input-title">Salary</h2>
                    <h2 class="viewjob--info">{{ job.wage }}</h2>
                    <hr class="input__line input__line--description">

                    <h2 class="form__input-title">Places</h2>
                    <h2 class="viewjob--info">{{ job.places }}</h2>
                    <hr class="input__line input__line--description">

                    <h2 class="form__input-title">Description</h2>
                    <h2 class="viewjob--info viewjob--info-des">{{ job.description }}</h2>
                    <hr class="input__line input__line--description">




                {% if company %}
                    <div>
                        <button class="accept-job-button-description" onclick="editjob({{ job.id }})">Edit!</button>
                    </div>
                    {% if rating %}
                        <div>RATE</div>
                    {% else %}
                        <div>CAN NOT RATE</div>
                    {% endif %}

                {% else %}
                    {% if bookable %}
                        <button class="accept-job-button-description" onclick="bookJob({{ job.id }})">Accept!</button>
                    {% else %}
                        <button class="accept-job-button-description" onclick="unbookjob({{ job.id }})">Unbook!</button>
                    {% endif %}
                {% endif %}


                <!-- Trigger the Modal -->
                <img id="myImg" src="/static/company/contracts/{{ job.contract }}" alt="Job Contract" style="width:100%;max-width:300px; height:100%; max-height:200px;z-index:3">

                <!-- The Modal -->
                <div id="myModal" class="modal">

                    <!-- The Close Button -->
                    <span class="close">&times;</span>

                    <!-- Modal Content (The Image) -->
                    <img class="modal-content" id="img01">

                    <!-- Modal Caption (Image Text) -->
                    <div id="caption"></div>
                </div>



            </div>
            <div class="form__img-content">
                <img class="form__img" src="{{ url_for('static', filename='img/test.png') }}">
            </div>
        </div>

    <!-- -->


        <script>
            function bookJob(jobid) {

                $.post( '/job/'+jobid, function( data ) {
                    alert('Job booked!');
                });
                window.open("{{ url_for('userpage') }}","_self")
            }
            function unbookjob(jobid) {
                $.ajax({
                    url: '/bookjob/'+jobid,
                    type: 'DELETE',
                    success: function(result) {
                        alert('Job unbooked!');
                    }
                });
                window.open("{{ url_for('userprofile') }}","_self")
            }
            function editjob(jobid) {
                window.open("/editjob/"+jobid,"_self")
            }

            // Get the modal
            var modal = document.getElementById('myModal');

            // Get the image and insert it inside the modal - use its "alt" text as a caption
            var img = document.getElementById('myImg');
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            img.onclick = function(){
              modal.style.display = "block";
              modalImg.src = this.src;
              captionText.innerHTML = this.alt;
            }

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
              modal.style.display = "none";
            }
        </script>

    </div>
{% endblock %}