{% extends 'layout.html' %}

{% block content %}
    <div class="main">
        <div class="screen-img screen-img--home"></div>
        <a class="name--home link-nodecoration" href="/userpage">
            <h2 class="name__text">JON</h2>
        </a>

        <div class="job-window">

            {{ job.description }}

        </div>
        <div class="bottom-job-window">
        {% if company %}
            <div>
                <button class="accept-job-button-description" onclick="editjob({{ job.id }})">Edit!</button>
            </div>
            {% if rating %}
                <div>RATE</div>
            {% else %}
                <div>CAN NOT RATE</div>
            {% endif %}
            <form action ="{{ url_for('upload_file') }}" method = "POST" enctype = "multipart/form-data">
                <input type =file name =contract />
                <input type = "submit"/>
            </form>
        {% else %}
            {% if bookable %}
                <button class="accept-job-button-description" onclick="bookJob({{ job.id }})">Accept!</button>
            {% else %}
                <button class="accept-job-button-description" onclick="unbookjob({{ job.id }})">Unbook!</button>
            {% endif %}
        {% endif %}

        </div>


        <script>
            function bookJob(jobid) {

                $.post( '/job/'+jobid, function( data ) {
                    alert('Job booked!');
                });
                window.open("{{ url_for('userpage') }}","_self")
            }
            function unbookjob(jobid) {
                $.ajax({
                    url: '/bookjob/'+jobid,
                    type: 'DELETE',
                    success: function(result) {
                        alert('Job unbooked!');
                    }
                });
                window.open("{{ url_for('userprofile') }}","_self")
            }
            function editjob(jobid) {
                window.open("/editjob/"+jobid,"_self")
            }
        </script>

    </div>
{% endblock %}