{% extends 'layout.html' %}

{% block content %}

    <div class="main">

        <div class="screen-img screen-img--login"></div>

        <div class="form__screen">
            <a class="name link-nodecoration" href="/">
                <h2 class="name__text">JON</h2>
            </a>

            <h2 class="form__screen-title">Log in</h2>
            <h2 class="form__screen-title form__screen-title--sub">Login in with your JON Account to find your information</h2>

            {% if email %}
                <p>You have been logged in with {{ email }}</p>
            {% endif %}

            <form class="form" method="POST" action="">
               {{ formpage.hidden_tag()}}
               {{ formpage.email.label(class="form__input-title") }}
                {% if formpage.email.errors %}
                    {{ formpage.email(spellcheck="false", class="form__input form__input--signin input_invalid", placeholder="Enter your email") }}
                    <hr class="input__line input__line-error">
                    <div class="form__error-content">
                    {% for error in formpage.email.errors %}
                        <span class="form__error-text">{{ error }}</span>
                    {% endfor %}
                    </div>
                {% else %}
                {{ formpage.email(spellcheck="false", class="form__input form__input--signin", placeholder="Enter your email") }}
                 <hr class="input__line">
                 <div class="form__error-content"></div>
                {% endif %}

                {{ formpage.password.label(class="form__input-title") }}
                {% if formpage.password.errors %}
                    {{ formpage.password(spellcheck="false", class="form__input form__input--signin input_invalid", placeholder="Enter your password") }}
                    <hr class="input__line input__line-error">
                    <div class="form__error-content">
                    {% for error in formpage.password.errors %}
                        <span class="form__error-text">{{ error }}</span>
                    {% endfor %}
                    </div>
                {% else %}
                {{ formpage.password(spellcheck="false", class="form__input form__input--signin", placeholder="Enter your password") }}
                 <hr class="input__line">
                 <div class="form__error-content"></div>
                {% endif %}

                <a class="forgot-link link-nodecoration" href="{{ url_for('reset_request') }}">Forgot password?</a>

                <div class="login__access">
                    <a class="link-nodecoration" href="/signuptype">
                        <h2 class="login__access-account">Create an account</h2>
                    </a>
                    {{ formpage.submit(class="form__access-button") }}
                </div>
            </form>

        </div>

    </div>

{%  endblock %}