{% extends 'layout.html' %}

{% block content %}

    <div class="main">

        <div class="screen-img screen-img--login"></div>

        <div class="form__screen">
            <a class="name-link link-nodecoration" href="/">
                <div class="name">
                    <h2 class="name__text">JON</h2>
                </div>
            </a>

            <h2 class="form__screen-title">Log in</h2>
            <h2 class="form__screen-title form__screen-title--sub">Login in with your JON Account to find your information</h2>

            <form class="form">
                <h2 class="form__input-title">Enter your email</h2>
                <input class="form__input" type="email" name="email" placeholder="Enter your email">
                <hr class="input__line">

                <h2 class="form__input-title">Enter your password</h2>
                <input class="form__input" type="password" name="password" placeholder="Enter your password">
                <hr class="input__line">

                <div class="login__access">
                    <a class="link-nodecoration" href="/signuptype">
                        <h2 class="login__access-account">Create an account</h2>
                    </a>
                    <button class="form__access-button">Login</button>
                </div>
            </form>



        </div>


    </div>

{%  endblock %}