{% extends 'layout.html' %}

{% block content %}

    <div class="main">

        <div class="screen-img screen-img--signup"></div>

        <div class="form__screen form__screen--signupPerson">

            <div class="form__header">
                <div class="form__header-item">
                    <h2 class="form__screen-title form__screen-title--signup">Sign in</h2>
                    <h2 class="form__screen-title form__screen-title--sub">Register and work with us</h2>
                </div>
                <div class="form__header-item form__header-item--right">
                    <h2 class="screen-info-target screen-info-target--signup">For Companies</h2>
                </div>
            </div>

            <div class="form__content">
                <div class="form__inputs">
                    <form method="POST" class="form form--signin" action="">
                        {{  formpage.hidden_tag()}}
                        {{ formpage.name.label(class="form__input-title") }}

                        {% if formpage.name.errors %}
                            {{ formpage.name(spellcheck="false", class="form__input form__input--signin input_invalid", placeholder="{{ eroor }}") }}
                            <hr class="input__line input__line-error">
                            <div class="form__error-content">
                            {% for eroor in formpage.name.errors %}
                                <span class="form__error-text">{{ eroor }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ formpage.name(spellcheck="false", class="form__input form__input--signin", placeholder="Enter your name") }}
                            <hr class="input__line">
                            <div class="form__error-content"></div>
                        {% endif %}



                        {{ formpage.telephone.label(class="form__input-title") }}
                        {% if formpage.telephone.errors %}
                            {{ formpage.telephone(spellcheck="false", class="form__input form__input--signin input_invalid", placeholder="Enter your telephone") }}
                            <hr class="input__line input__line-error">
                            <div class="form__error-content">
                            {% for eroor in formpage.telephone.errors %}
                                <span class="form__error-text">{{ eroor }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                        {{ formpage.telephone(spellcheck="false", class="form__input form__input--signin", placeholder="Enter your telephone") }}
                         <hr class="input__line">
                         <div class="form__error-content"></div>
                        {% endif %}

                        {{ formpage.phone.label(class="form__input-title") }}
                        {% if formpage.phone.errors %}
                            {{ formpage.phone(spellcheck="false", class="form__input form__input--signin input_invalid", placeholder="Enter your phone") }}
                            <hr class="input__line input__line-error">
                            <div class="form__error-content">
                            {% for eroor in formpage.phone.errors %}
                                <span class="form__error-text">{{ eroor }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                        {{ formpage.phone(spellcheck="false", class="form__input form__input--signin", placeholder="Enter your phone (+39)") }}
                         <hr class="input__line">
                         <div class="form__error-content"></div>
                        {% endif %}


                        {{ formpage.email.label(class="form__input-title") }}
                        {% if formpage.email.errors %}
                            {{ formpage.email(spellcheck="false", class="form__input form__input--signin input_invalid", placeholder="Enter your email") }}
                            <hr class="input__line input__line-error">
                            <div class="form__error-content">
                            {% for eroor in formpage.email.errors %}
                                <span class="form__error-text">{{ eroor }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                        {{ formpage.email(spellcheck="false", class="form__input form__input--signin", placeholder="Enter your email") }}
                         <hr class="input__line">
                         <div class="form__error-content"></div>
                        {% endif %}

                        {{ formpage.password.label(class="form__input-title") }}
                        {% if formpage.password.errors %}
                            {{ formpage.password(spellcheck="false", class="form__input form__input--signin input_invalid", placeholder="Enter your password") }}
                            <hr class="input__line input__line-error">
                            <div class="form__error-content">
                            {% for eroor in formpage.password.errors %}
                                <span class="form__error-text">{{ eroor }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                        {{ formpage.password(spellcheck="false", class="form__input form__input--signin", placeholder="Enter your password") }}
                         <hr class="input__line">
                         <div class="form__error-content"></div>
                        {% endif %}

                        {{ formpage.password_con.label(class="form__input-title") }}
                        {% if formpage.password_con.errors %}
                            {{ formpage.password_con(spellcheck="false", class="form__input form__input--signin input_invalid", placeholder="Enter your password confirmation") }}
                            <hr class="input__line input__line-error">
                            <div class="form__error-content">
                            {% for eroor in formpage.password_con.errors %}
                                <span class="form__error-text">{{ eroor }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                        {{ formpage.password_con(spellcheck="false", class="form__input form__input--signin", placeholder="Enter your password confirmation") }}
                         <hr class="input__line">
                         <div class="form__error-content"></div>
                        {% endif %}

                        {{ formpage.submit(class="form__access-button form__access-button--signin") }}

                    </form>

            <!--<div class="form__content">
                <div class="form__inputs">
                    <form class="form form--signin" action="/companypage">
                        <h2 class="form__input-title">Name</h2>
                        <input spellcheck="false" class="form__input form__input--signin" type="text" name="name" placeholder="Enter name of company">
                        <hr class="input__line">

                        <h2 class="form__input-title">Telephone</h2>
                        <input class="form__input form__input--signin" type="text" name="phone" placeholder="Enter telephone of company">
                        <hr class="input__line">

                        <h2 class="form__input-title">Phone</h2>
                        <input class="form__input form__input--signin" type="text" name="phone" placeholder="Enter phone of company">
                        <hr class="input__line">

                        <h2 class="form__input-title">Enter your email</h2>
                        <input spellcheck="false" class="form__input form__input--signin" type="email" name="email" placeholder="Enter your email">
                        <hr class="input__line">

                        <h2 class="form__input-title">Enter your password</h2>
                        <input spellcheck="false" class="form__input form__input--signin" type="password" name="password" placeholder="Enter your password">
                        <hr class="input__line">

                        <button class="form__access-button form__access-button--signin">Sign In</button>

                    </form>-->

                </div>
                <div class="form__img-content">
                    <img class="form__img" src="{{ url_for('static', filename='img/register2.png') }}">
                </div>
            </div>






        </div>


    </div>


{%  endblock %}