{% extends 'layout.html' %}

{% block content %}

    <div class="main">

        <div class="screen-img screen-img--signup"></div>

        <div class="form__screen form__screen--signupPerson">

            <div class="form__header">
                <div class="form__header-item">
                    <h2 class="form__screen-title form__screen-title--signup">Sign in</h2>
                    <h2 class="form__screen-title form__screen-title--sub">Register and work with us</h2>
                </div>
                <div class="form__header-item form__header-item--right">
                    <h2 class="screen-info-target screen-info-target--signup">For people</h2>
                </div>
            </div>

            <div class="form__content">
                <div class="form__inputs">
                    <form method="POST" class="form form--signin" action="">
                        {{  formpage.hidden_tag()}}
                        {{ formpage.name.label(class="form__input-title") }}

                        {% if formpage.name.errors %}
                            {{ formpage.name(spellcheck="false", class="form__input form__input--signin input_invalid", placeholder="{{ eroor }}") }}
                            <hr class="input__line input__line-error">
                            <div class="form__error-content">
                            {% for error in formpage.name.errors %}
                                <span class="form__error-text">{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ formpage.name(spellcheck="false", class="form__input form__input--signin", placeholder="Enter your name") }}
                            <hr class="input__line">
                            <div class="form__error-content"></div>
                        {% endif %}



                        {{ formpage.surname.label(class="form__input-title") }}
                        {% if formpage.surname.errors %}
                            {{ formpage.surname(spellcheck="false", class="form__input form__input--signin input_invalid", placeholder="Enter your surname") }}
                            <hr class="input__line input__line-error">
                            <div class="form__error-content">
                            {% for error in formpage.surname.errors %}
                                <span class="form__error-text">{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                        {{ formpage.surname(spellcheck="false", class="form__input form__input--signin", placeholder="Enter your surname") }}
                         <hr class="input__line">
                         <div class="form__error-content"></div>
                        {% endif %}



                        {{ formpage.phone.label(class="form__input-title") }}
                        {% if formpage.phone.errors %}
                            {{ formpage.phone(spellcheck="false", class="form__input form__input--signin input_invalid", placeholder="Enter your phone") }}
                            <hr class="input__line input__line-error">
                            <div class="form__error-content">
                            {% for error in formpage.phone.errors %}
                                <span class="form__error-text">{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                        {{ formpage.phone(spellcheck="false", class="form__input form__input--signin", placeholder="Enter your phone (+39)") }}
                         <hr class="input__line">
                         <div class="form__error-content"></div>
                        {% endif %}

                        {{ formpage.email.label(class="form__input-title") }}
                        {% if formpage.email.errors %}
                            {{ formpage.email(spellcheck="false", class="form__input form__input--signin input_invalid", placeholder="Enter your email") }}
                            <hr class="input__line input__line-error">
                            <div class="form__error-content">
                            {% for error in formpage.email.errors %}
                                <span class="form__error-text">{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                        {{ formpage.email(spellcheck="false", class="form__input form__input--signin", placeholder="Enter your email") }}
                         <hr class="input__line">
                         <div class="form__error-content"></div>
                        {% endif %}

                        {{ formpage.password.label(class="form__input-title") }}
                        {% if formpage.password.errors %}
                            {{ formpage.password(spellcheck="false", class="form__input form__input--signin input_invalid", placeholder="Enter your password") }}
                            <hr class="input__line input__line-error">
                            <div class="form__error-content">
                            {% for error in formpage.password.errors %}
                                <span class="form__error-text">{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                        {{ formpage.password(spellcheck="false", class="form__input form__input--signin", placeholder="Enter your password") }}
                         <hr class="input__line">
                         <div class="form__error-content"></div>
                        {% endif %}

                        {{ formpage.password_con.label(class="form__input-title") }}
                        {% if formpage.password_con.errors %}
                            {{ formpage.password_con(spellcheck="false", class="form__input form__input--signin input_invalid", placeholder="Enter your password confirmation") }}
                            <hr class="input__line input__line-error">
                            <div class="form__error-content">
                            {% for error in formpage.password_con.errors %}
                                <span class="form__error-text">{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                        {{ formpage.password_con(spellcheck="false", class="form__input form__input--signin", placeholder="Enter your password confirmation") }}
                         <hr class="input__line">
                         <div class="form__error-content"></div>
                        {% endif %}

                        {{ formpage.submit(class="form__access-button form__access-button--signin") }}

                    </form>

                </div>
                <div class="form__img-content">
                    <img class="form__img" src="{{ url_for('static', filename='img/register.png') }}">
                </div>
            </div>






        </div>


    </div>


{%  endblock %}