{% extends 'layout.html' %}

{% block content %}

    <div class="main">
        <div class="screen-img screen-img--home"></div>
        <a class="name--home link-nodecoration" href="/userpage">
            <h2 class="name__text">JON</h2>
        </a>

        <h2 class="username">User</h2>

        <a class="home__user-link" href="/userprofile">
            <img  class="home__user-img" src="{{ url_for('static', filename='img/userimg.jpg') }}" alt="">
        </a>

    <img class="calendar-img" src="{{ url_for('static', filename='img/calendar.jpg') }}"> <!-- This image is only an a preview of the real element-->


    </div>

{% endblock %}