{% extends 'layout.html' %}

{% block content %}

    <div class="main">
        <div class="screen-img screen-img--home"></div>
        <a class="name--home link-nodecoration" href="/userpage">
            <h2 class="name__text">JON</h2>
        </a>

        <h2 class="username">{{ email }}</h2>

        <a class="home__user-link" href="/userprofile">
            <img  class="home__user-img" src="{{ url_for('static', filename='img/userimg.jpg') }}" alt="">
        </a>
        <div style="z-index: 4">
            <form class="form" method="POST" action="">
               {{ form.hidden_tag()}}
                {% for error in form.location.errors %}
                    <span class="form__error-text">{{ error }}</span>
                {% endfor %}
                {{ form.location(spellcheck="false", class="form__input form__input--signin", placeholder="Enter your location") }}
                 <hr class="input__line">
                 <div class="form__error-content"></div>

            </form>
        </div>

        <div class="jobs-table">
            <div class="jobs-table-row">
                <div class="jobs-table-cell-title">
                    <h2 class="jobs-table__titleday" style="visibility: hidden">Time_slot </h2>
                    <hr class="jobs-table__titleline">
                </div>
                {% for day in  ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
                    <div class="jobs-table-cell-title">
                        <h2 class="jobs-table__titleday">{{ day }} </h2>
                        <hr class="jobs-table__titleline">
                    </div>
                {% endfor %}
            </div>

            {% for a in range(0,24) %}
                <div class="jobs-table-row">
                    <div class="jobs-table-cell-title">
                        {{ a }}.00 - {% set a = a + 1 %}{{ a }}.00{% set a = a-1 %}
                        <hr class="jobs-table__columnline">
                    </div>
                    <hr class="jobs-table__columnline">
                    {% for job in jobs[a] %}
                        {% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
                            <div class="jobs-table-cell">
                                {% if job.dayOfWeek == day %}
                                    <div class="jobs-table__titlejob tooltip" id="{{ job.id }}">{{ job.name }}
                                        <span class="tooltiptext">
                                            <p class="job-description">{{ job.description }}</p>
                                            <button class="accept-job-button" onclick="bookJob({{ job.id }})">Accept!</button>
                                        </span>
                                    </div>
                                {% endif %}
                            <hr class="jobs-table__columnline">
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endfor %}

        </div>

        <script>
            function bookJob(jobid) {

                $.post( '/bookjob/'+jobid, function( data ) {
                    alert('Job booked!');
                });
                document.getElementById(jobid).style.display = 'none';
            }
        </script>
    </div>

{% endblock %}





    <!--
        <div class="jobs-table">
            <div class="jobs-table-column">
                <h2 class="jobs-table__titleday" style="visibility: hidden">Time_slot </h2>
                <hr class="jobs-table__titleline">
                {#% for a in range(0,24) %#}
                    <div class="jobs-table-cell">
                        {#  #}{ a }}.00 - {#% set a = a + 1 %#}{#  #}{ a }}.00
                    </div>
                    <hr class="jobs-table__columnline">

                {#% endfor %#}
            </div>
            {#% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %#}
                <div class="jobs-table-column">
                    <h2 class="jobs-table__titleday">{#  #}{ day }} </h2>
                    <hr class="jobs-table__titleline">
                    {#% for job in jobs[loop.index0] %#}
                        {#% for i in range(0, 24) %#}
                            <div class="jobs-table-cell">
                            {#% if job.time_slot == i %#}
                                <div class="jobs-table__titlejob tooltip" id="{{ job.id }}">{{ job.name }}
                                    <span class="tooltiptext">
                                        <p class="job-description">{{ job.description }}</p>
                                        <button class="accept-job-button" onclick="bookJob({{ job.id }})">Accept!</button>
                                    </span>
                                </div>
                            {#% endif %#}
                            </div>
                        {#% endfor %#}
                    {#% endfor %#}

                    {#% if day != 'Sunday' %#}
                       <hr class="jobs-table__columnline">
                    {#% endif %#}
                </div>


            {#% endfor %#}

        </div>
        -->

