{% extends 'layout.html' %}

{% block content %}

    <div class="main">
        <div class="screen-img screen-img--home"></div>

        <a class="logo logo--page link-nodecoration slide-in-bck-center tohome" href="/">
            <h2 class="logo__text">JON</h2>
        </a>

        <h2 class="username">{{ email }}</h2>

        <a class="home__user-link" href="/userprofile">
            <img  class="home__user-img" src="{{ url_for('static', filename='img/userimg.jpg') }}" alt="">
        </a>
        <!--<div style="z-index: 4; height: 30px">
            <form class="form" method="POST" action="">
               {{ form.hidden_tag()}}
                {% for error in form.location.errors %}
                    <span class="form__error-text">{{ error }}</span>
                {% endfor %}
                {{ form.location(spellcheck="false", class="form__input form__input--signin", placeholder="Enter your location") }}
                 <hr class="input__line">
                 <div class="form__error-content"></div>

            </form>
        </div>-->

        <div class="jobs-table">
            <div class="jobs-table-row">
                <div class="jobs-table-cell-title">
                    <h2 class="jobs-table__titleday" style="visibility: hidden">Time_slot </h2>
                </div>
                {% for day in  ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
                    <div class="jobs-table-cell-title">
                        <h2 class="jobs-table__titleday">{{ day }} </h2>
                    </div>
                {% endfor %}
            </div>

            {% for a in range(0,24) %}
                <div class="jobs-table-row">
                    <div class="jobs-table-day">
                        <h2 class="jobs-times">{{ a }}.00 - {% set a = a + 1 %}{{ a }}.00{% set a = a-1 %}</h2>
                    </div>


                    {% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
                        <div class="jobs-table-day">
                            {% for job in jobs[a] %}
                                {% if job.dayOfWeek == day %}
                                    <div class="jobs-table-cell">
                                        <h2 class="jobs-table__titlejob tooltip" id="{{ job.id }}">{{ job.name }}
                                            <span class="tooltiptext">
                                                <p class="job-description">{{ job.description }}</p>
                                                <a href="job/{{ job.id }}">Show more...</a>
                                                <button class="accept-job-button" onclick="bookJob({{ job.id }})">Accept!</button>
                                            </span>
                                        </h2>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

        </div>

        <script>
            function bookJob(jobid) {

                $.post( '/job/'+jobid, function( data ) {
                    alert('Job booked!');
                });
                document.getElementById(jobid).style.display = 'none';
            }
        </script>


{% endblock %}
